<section>
    {{#each products}}
        <div>
            <h2>{{this.title}}</h2>
            <h5>Id: {{this.id}}</h5>
            <h5>Precio: {{this.price}}</h5>
            <h5>Category: {{this.category}}</h5>
            <h5>Stock: {{this.stock}}</h5>
            <h5>descripcion: {{this.description}}</h5>
            <h5>Code: {{this.code}}</h5>
        </div>
    {{/each}}
</section>