<section>
    <h1>HOME</h1>
    <h2>ALL PRODUCTS:</h2>
    <hr>
    <ul>
        <li>Total Docs: {{totalDocs}}</li>
        <li>Total Pages: {{totalPages}}</li>
        {{#if hasPrevPage }}
            <li><a href="/products/?page={{prevPage}}&limit={{limit}}&sort={{sort}}">Previous</a></li>
        {{/if}}
        {{#if hasNextPage }}
            <li><a href="/products/?page={{nextPage}}&limit={{limit}}&sort={{sort}}">Next</a></li>
        {{/if}}
    </ul>
    <hr>
    {{#each docs}}
        <div>
            <h2>{{this.title}}</h2>
            <h4>Id: {{this._id}}</h4>
            <h4>Precio: {{this.price}}</h4>
            <h4>Category: {{this.category}}</h4>
            <h4>Stock: {{this.stock}}</h4>
            <h4>descripcion: {{this.description}}</h4>
            <h4>Code: {{this.code}}</h4>
        </div>
        <button class="addToCart" data-product-id='{{this._id}}'>Agregar Al carrito</button>
        <hr>
    {{/each}}
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/cart.js"></script>
