<section>
    <section>
        <h2 id="welcome" data-cart-id='{{user.cart}}'>Bienvenido {{user.name}}!</h2>
    </section>
    <hr>
    <h1>PRODUCTS</h1>
    <hr>
    <section>
        <ul>
            {{#if result.totalDocs}}
                <li>Total Docs: {{result.totalDocs}}</li>
                {{else}}
            {{/if}}
            {{#if result.totalPages}}
                <li>Total Pages: {{result.totalPages}}</li>{{result.totalDocs}}
                {{else}}
            {{/if}} 
            {{#if result.hasPrevPage }}
                <li><a href="/products/?page={{result.prevPage}}&limit={{result.limit}}&sort={{result.sort}}">Previous</a></li>
            {{/if}}
            {{#if result.hasNextPage }}
                <li><a href="/products/?page={{result.nextPage}}&limit={{result.limit}}&sort={{result.sort}}">Next</a></li>
            {{/if}}
        </ul>
    </section>
    <hr>
    {{#each result.docs}}
        <div>
            <h2>{{this.title}}</h2>
            <h4>Id: {{#if this._id}}{{this._id}}{{else}}{{this.id}}{{/if}}</h4>
            <h4>Precio: {{this.price}}</h4>
            <h4>Category: {{this.category}}</h4>
            <h4>Stock: {{this.stock}}</h4>
            <h4>descripcion: {{this.description}}</h4>
            <h4>Code: {{this.code}}</h4>
        </div>
        <button class="addToCart" data-product-id='{{#if this._id}}{{this._id}}{{else}}{{this.id}}{{/if}}'>Agregar Al carrito</button>
        <hr>
    {{/each}}
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/cart.js"></script>