<ul>
    <li>Nombre: {{name}}</li>
    <li>Apellido: {{lastname}}</li>
    <li>Email: {{email}}</li>
    <li>Username: {{username}}</li>
    <li>Edad: {{age}}</li>
    <li>Sexo: {{gender}}</li>
    <li>Rol: {{role}}</li>
</ul>