<section>
    <h1>REAL TIME PRODUCTS:</h1>
    <h2>Agregar Producto</h2>
    <form id="form">
        <div>
            <label for="title">Nombre:</label>
            <input type="text" name="title" id="title" required/>
        </div>
        <div>
            <label for="price">Precio:</label>
            <input type="number" name="price" id="price" required/>
        </div>
        <div>
            <label for="category">Categoria:</label>
            <select type="text" name="category" id="category" required>
                    <option value="Zapatillas">Zapatillas</option>
                    <option value="Remeras">Remeras</option>
                    <option value="Camperas">Camperas</option>
                    <option value="Buzos">Buzos</option>
            </select>
        </div>
        <div>
            <label for="stock">Stock:</label>
            <input type="number" name="stock" id="stock" required/>
        </div>
        <div>
            <label for="description">Descripcion:</label>
            <input type="text" name="description" id="description" required/>
        </div>
        <div>
            <label for="code">Codigo:</label>
            <input type="text" name="code" id="code" required/>
        </div>
        <div>
            <label for="status">Status:</label>
            <select type="text" name="status" id="status" required>
                <option value="true" selected>true</option>
                <option value="false">false</option>
            </select>
        </div>
            <button id="agregar" type="submit">Agregar Producto</button>
    </form>
</section>
    <hr>
    <section>
        <ul>
            <li>Total Docs: {{totalDocs}}</li>
            <li>Total Pages: {{totalPages}}</li>
            {{#if hasPrevPage }}
                <li><a href="/realTimeProducts/?page={{prevPage}}&limit={{limit}}&sort={{sort}}">Previous</a></li>
            {{/if}}
            {{#if hasNextPage }}
                <li><a href="/realTimeProducts/?page={{nextPage}}&limit={{limit}}&sort={{sort}}">Next</a></li>
            {{/if}}
        </ul>
    </section>
    <hr>
<section id="productList">
    {{#each docs}}
        <div>
            <h2>title: {{this.title}}</h2>
            <h4>description: {{this.description}}</h4>
            <h4>price: {{this.price}}</h4>
            <h4>code: {{this.code}}</h4>
            <h4>category: {{this.category}}</h4>
            <h4>stock: {{this.stock}}</h4>
            <h4>status: {{this.status}}</h4>
            <button onclick="deleteProduct('{{this._id}}')">Eliminar</button>
        </div>
        <hr>
    {{/each}}
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/index.js"></script>